@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
nav,
.detail-container,
.summary {
  padding: 0 20px 0 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  color: #a1a7b1;
  font-weight: 600;
  /* padding: 5px 0 15px 0; */
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

nav #logo {
  width: 40px;
  height: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3.5rem;
}

nav .account-info {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  align-items: center;
}

nav .account-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav .account-info .text-icon {
  display: flex;
  align-items: center;
  gap: 10px;

  & #market {
    width: 22px;
    height: 22px;
  }

  & #arrow-down {
    width: 10px;
    height: 10px;
  }
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

main .detail-container,
main .summary {
  background-color: #f7fafc;
  border-radius: 10px;
}

main .detail-container {
  padding: 10px 60px;
}
main .detail-container .titles {
  display: flex;
  width: 90%;
  align-items: center;
  font-weight: bold;
  color: #a1a7b1;

  & .icon {
    width: 15px;
    height: 15px;
  }

  & span {
    width: 25px;
    height: 2px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #b7d3ed;
  }

  & #account {
    color: #458ed2;
  }
}

main .detail-container h2 {
  color: #3b3d3d;
}

main .detail-container label {
  display: flex;
  flex-direction: column;
  color: #8d9aac;
  font-weight: 700;

  & input {
    padding: 20px;
    margin-top: 10px;
    background-color: #e2e8f0;
    color: #303336;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-image: url(./images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: right 2% bottom 50%;
    background-size: 20px 20px;
  }
}

main .detail-container .buttons {
  /* border: 1px solid red; */
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;

  & p {
    color: #616366;
    font-weight: 600;
  }

  & button {
    background-color: #3182ce;
    border: none;
    padding: 5px 30px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
  }
}

main .detail-container hr {
  margin-top: 60px;
  background-color: #dcdddd;
  height: 2px;
  border: none;
}

/* -------- summary section styling -------- */
main .summary {
  padding: 20px 40px;
  width: clamp(15vw, 100%, 25vw);
}
main .summary h2 {
  color: #3b3d3d;
}

main .summary .product-image {
  background-color: #3182ce;
  background-image: url("./images/headphone-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
}

main .summary .price-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  line-height: 1px;
  font-weight: 500;
}

main .summary .price-qty .name-price {
  display: flex;
  flex-direction: column;

  & #price {
    font-weight: bold;
  }
}

main .summary .price-qty .qty {
  display: flex;
  gap: 10px;

  & button {
    border: none;
    border-radius: 5px;
    background-color: #e2e8f0;
    padding: 10px 15px;
    color: grey;
  }
}

main .summary p {
  font-weight: 100;
}

main .summary .code {
  display: flex;
  flex-direction: row;
  gap: 20px;

  & input {
    border: none;
    background-color: #e2e8f0;
    width: 75%;
    border-radius: 5px;
  }

  & button {
    border-radius: 5px;
    border: 1px solid #3a87d0;
    color: #3a87d0;
    padding: 15px;
  }
}

main .summary .calculations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 10px;

  & p:nth-of-type(1) {
    font-size: small;
  }

  & p:nth-of-type(2) {
    font-weight: 500;
  }

  #free {
    color: #3a87d0;
  }
}
