@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-grey: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}
* {
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: var(--almost-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* ----------- navbar styles --------------- */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 10px;
  min-width: 95%;
  max-width: 100vw;
}

nav .links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

nav .links .logo {
  margin-right: 20px;
}

nav .links a {
  text-decoration: none;
  color: var(--medium-grey);
  font-size: 18px;
}

nav .links a:hover,
nav .buttons a:hover {
  color: var(--almost-black);
  font-weight: 600;
}

nav .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav .buttons a {
  color: var(--medium-grey);
  text-decoration: none;
  font-size: 18px;
}

nav .buttons button {
  border-radius: 12px;
  border: 1px solid var(--medium-grey);
  padding: 12px;
  color: var(--medium-grey);
}

nav .buttons button:hover {
  color: var(--almost-black);
  border: 1px solid var(--almost-black);
  cursor: pointer;
  font-weight: 600;
}

nav .links .drop-downs select {
  border: none;
  background-color: transparent;
  color: var(--medium-grey);
  font-size: 18px;
}

nav .links .drop-downs select:focus {
  border: 1px solid var(--almost-black);
}

nav .links .drop-downs select:hover {
  color: var(--almost-black);
}
/* ------- container styles ------------ */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 80vw;
}

.container .info {
  width: 60%;
}

.container .info h1 {
  font-size: 60px;
}

.container .info p {
  color: var(--medium-grey);
  width: 70%;
  font-size: 18px;
  align-items: center;
}

.container .info button {
  padding: 20px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 20px;
}

.container .info .clients {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-right: 200px;

  & img {
    /* max-width: 95px; */
    height: auto;
  }

  & #data-biz{
    width: 100px;
    height: 20px;
  }

  & #audiophile {
    width: 65px;
  }

  & #meet{
    width: 75px;
    height: 20px;
  }
}

.hero-image {
  background-image: url(./images/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 42%;
}
